h1 {
    color: rgb(68, 83, 45)
    
}

body {
    background-color: tan;
}

h2 {
    color: rgb(163, 74, 163);
    
}

h3 {
    border-style: solid;
    background-color: rgb(89, 112, 49, 0.6);
    border-width: thin;
    border-radius: 8px;
}


ul{
    background-color: rgb(202, 170, 235, 0.3);
}

a{
    background-color: rgb(130, 150, 95, 0.3);
}

img{
    width: 264.7px;
    height: 350px;
}